/* fonts */
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2")
      format("woff2"),
    url("https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Reset CSS */
* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Circular";
}

.header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.headerlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: bold;
  font-size: 16px;
}

.headeritem {
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.aheader {
  color: white;
}

.headeritem {
  text-align: center;
}

.headerregistrarse {
  border-left: 1px solid white;
  line-height: 14px;
  padding-left: 30px;
}

.headerdescargar {
  padding-right: 30px;
}

.headerlogo {
  object-fit: contain;
  height: 30px;
}

.maintitle {
  font-size: 90px;
  max-width: 90%;
  padding-left: 30px;
  line-height: 100px;
  color: white;
  padding-top: 30px;
}

.mainsubtitle {
  padding-left: 30px;
  color: white;
  padding-top: 30px;
}

.main {
  height: auto;
  flex-grow: 1;
  padding-bottom: 100px;
}

.sectionmain-01 {
  background-color: #529cf1;
  background-image: url(../images/premium_dancer.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  height: auto;
}

.mainplans {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b71a;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 25px;
}

.mainsmall {
  margin-left: 30px;
  display: inline-block;
  color: white;
  margin-bottom: 30px;
  max-width: 50%;
}
.maintitle-02 {
  text-align: center;
  margin-top: 30px;
  font-size: 58px;
  margin-bottom: 50px;
}

.sectioncontainer {
  display: flex;
  justify-content: space-evenly;
}

.reason {
  text-align: center;
}

.footer {
  width: 100%;
  height: 90px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-end;
}

.a {
  color: white;
  padding: 10px;
}

.footerlist {
  display: flex;
}

.footerflag {
  height: 20px;
  margin-bottom: -5px;
  margin-left: 10px;
}

.footercontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
