h1 {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: black;
}

p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #757575;
}

body {
  background-color: #f3f4f5;
}
