.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: stretch;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.form .input {
  align-self: center;
  border-radius: 2px;
  border: solid rgb(139, 137, 137) 1px;
  width: 100%;
}

.username .input {
  text-align: end;
}

.birthday .input {
  width: auto;
}

.birthday {
  display: flex;
  justify-content: space-between;
}

.username {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.nameitem {
  display: flex;
  flex-direction: row;
}

.inputname1 {
  margin-right: 15px;
}

.password {
  display: flex;
  flex-direction: column;
}

.main {
  width: 350px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.next {
  background-color: #4285f4;
  width: 40%;
  align-self: flex-end;
  margin-top: 20px;
  height: 30px;
  border: none;
}

label {
  margin-top: 15px;
  margin-bottom: 3px;
}

.input {
  height: 20px;
}

select {
  height: 20px;
}
