* {
  font-family: sans-serif;
}

.tooltypetext {
  visibility: hidden;
  width: 200px;
  height: 400px;
  background-color: white;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
}

.item:hover .tooltypetext {
  visibility: visible;
}
